/* tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// variables
@import './variables.scss';

#root {
	font-family: Inter, 'Roboto', system-ui, Avenir, Helvetica,
		Arial, sans-serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* color-scheme: light dark; */

	min-width: 320px;
	min-height: 100vh;
}

body {
	margin: 0;

	// background image
	background-image: url('/bg.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

// Glass effect
.glass {
	@apply backdrop-blur-md;
}
